.image-container {
  text-align: center; /* Center align the image and summary */
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust column width as needed */
  gap: 20px; /* Adjust gap between grid items */
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: 300px; /* Adjust image height as needed */
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.product-card p {
  margin-bottom: 5px;
}

.product-card p:last-child {
  font-weight: bold;
  color: #333;
}
