.image-container {
  text-align: center; /* Center align the image and summary */
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensures exactly 3 columns */
  gap: 20px; /* Adjust gap between grid items */
  justify-items: center; /* Center the cards within the grid columns */
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 50px; /* Adjust the width to make the card smaller */
  height: 50px;
}

.product-card img {
  width: 20px;
  height: auto;
  max-height: 50px; /* Adjust image height as needed */
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1rem; /* Adjust font size to make it smaller */
}

.product-card p {
  margin-bottom: 5px;
  font-size: 0.9rem; /* Adjust font size to make it smaller */
}

.product-card p:last-child {
  font-weight: bold;
  color: #333;
  font-size: 0.9rem; /* Adjust font size to make it smaller */
}
