.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px; 
}

.image-container img {
  width: 100%;
  height: 300px; /* Set a fixed height for the image */
  object-fit: cover;
}

.book-summary {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%) translateY(50%); /* Center horizontally and push down by 50% of its height */
  padding: 20px; /* Optional: Add padding */
  width: 80%;
  border-radius: 8px; /* Optional: Add border radius */
}
